 #one{
    height:50px;
    width:50px;
    background-color:green;
    border-radius:50%;
    padding:25px;
    text-align:center;
} 

#navbar{
   height:60px;
   background-color:#0f1111;
   color:antiquewhite;
    border:8px solid rgb(165, 165, 165);
   /*word-spacing:200px;
   white-space: nowrap; */
}

*{
    /* background-color:cadetblue; */
    padding:0;
    margin:0;
}

button{
    background-color:#f08804;
}

#logo{
    color:#f08804;
    font-size:25px;
}

a{
    margin-right:200px;
    text-decoration:none;
}